html {
    background:lightskyblue;
}
h1 img {
    height: 40px;
    width: 40px;
}


h1{
    margin: 0;
    background: lightskyblue;

}
body{
    background-color: lightskyblue;
}
#navBar {
    background: #ffc107;
}

#navBarDrop {
    background: #ffc107;
}


footer {
    width: 100%;
    background-color: #ffc107;
    clear: both;
    position: absolute;
    margin-top: 8em;
}

footer p {
    text-align: center;
    color: Black;

}