* {
    background-color:lightskyblue;
}
h1 img {
    height: 40px;
    width: 40px;
}

h1{

}

#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}
#nav_menu ul li {
    float: left;
}
#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #ffd45a;
    color: black;
    font-weight: bold;
}
#nav_menu a.current {
    color: lightskyblue
}
#nav_menu ul ul {
    display: none;
    position: relative;
    top: 100%;
}
#nav_menu ul ul li {
    float: none;
}
#nav_menu ul li:hover > ul {
    display: block;
}
#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

